.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.outer {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #f2f0f0;
}

img {
  border-radius: 50%;
}

.page1 {
  font-family: Arial;
}

fieldset {
  display: flex;
  background-color: white;
  padding: 15px;
  width: 500px;
  border-style: dotted;
  border-color: #d1d0d0;
}

.fieldset-left.menu {
  grid-area: menu;
}

.fieldset-right.content {
  grid-area: content;
}
