img {
  margin: 20px;
  border-radius: 50%;
}

div {
  font-family: Arial;
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
  background-color: white;
  padding: 15px;
  width: 500px;
  border-style: dotted;
  border-color: #d1d0d0;
}

form > fieldset > div > div {
  display: flex;
  flex-direction: row;
}

label {
  margin-right: 4px;
}

form > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

form > div > input[type="submit"]:nth-child(2) {
  background-color: #007bff;
}

form > div > input[type="submit"]:nth-child(1) {
  background-color: darkgrey;
}

input[type="submit"] {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  color: white;
}
