img {
  margin: 20px;
  border-radius: 50%;
}

div {
  font-family: Arial;
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
  background-color: white;
  padding: 15px;
  width: 500px;
  border-style: dotted;
  border-color: #d1d0d0;
}

input[type="submit"] {
  display: flex;
  flex-direction: column;
}
