<div>
  <div>
    <img src="/images/chat.png" alt="Sprachbubble" style="width: 100px" />
    <h1>Please sign in</h1>
    <form>
      <fieldset>
        <legend>Login</legend>
        <div>
          <div>
            <label style="margin-right: 4px">Username</label>
            <input
              type="text"
              id="username"
              name="username"
              placeholder="Username"
            />
          </div>
          <br />
          <div>
            <label style="margin-right: 4px">Password</label>
            <input
              type="text"
              id="password"
              name="password"
              placeholder="Password"
            />
          </div>
        </div>
        <br />
      </fieldset>
      <div>
        <input
          class="register"
          type="submit"
          value="Register"
          style="margin-right: 4px"
        />
        <input type="submit" value="Login" />
      </div>
    </form>
  </div>
</div>
<label for=""></label>
