<img src="/images/user.png" alt="user" style="width: 100px" />
<h1>Register yourself</h1>
<form>
  <fieldset>
    <legend>Register</legend>
    <label style="margin-right: 4px">Username</label>
    <input type="text" id="username" name="username" placeholder="Username" />
    <br />
    <label style="margin-right: 4px">Password</label>
    <input type="text" id="password" name="password" placeholder="Password" />
    <br />
    <label style="margin-right: 4px">Confirm Password</label>
    <input
      type="text"
      id="confirmPassword"
      name="confirmPassword"
      placeholder="Confirm Password"
    />
  </fieldset>
  <input type="submit" value="Cancel" style="margin-right: 4px" />
  <input type="submit" value="Create Account" />
</form>
