<h1>Friends</h1>
<a href="http://localhost:4200/aufgabe-c"> < Logout</a> |
<a href="http://localhost:4200/aufgabe-f"> Settings </a>
<hr />
<ul>
  <li><a href="http://localhost:4200/aufgabe-g"> Tom(3) </a></li>
  <li><a href="http://localhost:4200/aufgabe-g"> Marvin </a></li>
  <li><a href="http://localhost:4200/aufgabe-g"> Tick </a></li>
  <li><a href="http://localhost:4200/aufgabe-g"> Trick </a></li>
</ul>
<hr />
<h2>New Request</h2>
<ol>
  <li>
    Friend request from <b style="margin-right: 4px">Track</b>
    <button style="margin-right: 4px">Accept</button>
    <button>Reject</button>
  </li>
</ol>
<hr />
<form>
  <input
    style="margin-right: 4px"
    type="text"
    id="addFriend"
    name="addFriend"
    placeholder="Add Friend to List"
  />
  <input type="submit" value="Add" />
</form>
